- unless @movie.errors.empty?
    %div.validate
        %div.message#warning 
            "Errors prevented this movie from being #{controller.action_name}d:"
            %ul
                - @movie.errors.full_messages.each do |error|
                    %li= error
%dl
    %div.div-list
        %dt
            = label :movie, :title, 'Title'
        %dd 
            = text_field :movie, :title , class: 'custom'

    %div.div-list
        %dt
            = label :movie, :rating, 'Rating'
        %dd 
            = select :movie, :rating, ['G','PG','PG-13','R','NC-17'] 

    %div.div-list
        %dt
            = label :movie, :description, 'description'
        %dd 
            = text_area :movie, :description ,class: 'custom'

    %div.div-list
        %dt
            = label :movie, :release_date, 'Released On'
        %dd 
            = date_select :movie, :release_date ,start_year: 1930
